<%= form_for(@pr) do |f| %>
  <% if @pr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pr.errors.count, "error") %> prohibited this pr from being saved:</h2>

      <ul>
      <% @pr.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cellphone %><br />
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
